.dashboard-tile-table {
  width: 100%;
  padding: 10px;
}

.dashboard-tile-table > thead > tr > th {
  color: #7b809a;
  text-align: left;
  font-size: 0.85rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.dashboard-tile-table > tbody > tr > td {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
